<!DOCTYPE html>
<html lang="ro">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Monitor Industrial</title>
        <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>    
    <body>
        
        <h1>Monitor</h1>
        
        <div id="single-view" style="text-align:center; margin-bottom: 20px;">
            <label style="color: beige;">Alege parametrul monitorizat: </label>
            <select id="sensor-select">
                <option value="t">Temperatura (C)</option>
                <option value="h">Umiditate (%)</option>
                <option value="g">Nivel Gaz</option>
                <option value="p">Presiune</option>
                <option value="c">Curent (A)</option>
            </select>
        </div>
        
        <div style="width: 500px; height: 300px; margin: auto; border: 1px solid; border-color: antiquewhite; background-color: darkcyan;">
            <canvas id="chart_monitor"></canvas>
        </div>

        <script src="{{url_for('static', filename='monitor.js')}}"></script>  
        
        <div id="risk" style="text-align: center;" class="square">
            
        </div>
    </body>
</html>